.login-page {
  display: flex;
  min-height: 100vh;
  font-family: "Arial", sans-serif;
}

.welcome-section {
  flex: 1;
  background-image: url('https://img2.pic.in.th/pic/19a1d93b3f0a8a4c6.jpeg');
  /* background: linear-gradient(135deg, #7f7fd5, #86a8e7, #91eae4); */
  color: white;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.welcome-text {
  max-width: 400px;
  font-size: 1.5em;
}

.login-section {
  flex: 1;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  width: 350px;
  background: #f7f7f7;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.login-title {
  font-size: 1.5em;
  margin-bottom: 20px;
  text-align: center;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form input {
  padding: 15px;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
}

.login-form .login-button {
  padding: 15px;
  border: none;
  background-color: #635bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  margin-bottom: 10px;
}

.login-form .register-button {
  padding: 15px;
  border: none;
  background-color: #cfd0d8;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
}
